/* Menu */

.navigation-principale li{
    list-style: none;
}

.navigation-principale>ul>li>a{
    display: block;
    border-top: white solid 1px;
    padding: 20px 20px;
    text-align: center;
}

.navigation-principale a{
    color: white;
    text-decoration: none;
}

.navigation-principale>ul{
    display: none;
}

.navigation-principale:hover>ul{
    display: block;
}

.navigation-principale>a>img{
    display: block;
    width: 180px;
    height: 60px
}

.navigation-principale>ul>li:nth-child(0n+1){
    background-image: url("/projetS1/img/accueil.jpg");
    height: 65px;
    width: 375px;
}
.navigation-principale>ul>li:nth-child(0n+2){
    background-image: url("/projetS1/img/blackmirror.jpg");
    height: 65px;
    width: 375px;
}
.navigation-principale>ul>li:nth-child(0n+3){
    background-image: url("/projetS1/img/stockage.jpg");
    height: 65px;
    width: 375px;
}
.navigation-principale>ul>li:nth-child(0n+4){
    background-image: url("/projetS1/img/avenir.jpg");
    height: 65px;
    width: 375px;
}
.navigation-principale>ul>li:nth-child(0n+5){

}
.navigation-principale>ul>li:nth-child(0n+6){

}
.navigation-principale>ul>li:nth-child(0n+7){

}