body{
    margin: 0;
    width: 375px;
}

/* Menu */

.navigation-principale{
    position: fixed;
    width: 375px;
}
.navigation-principale ul{
    padding: 0;
    margin: 0;
}
article.imgaccueil{
    padding-top: 60px;
}



