/* Menu */

.navigation-principale li{
    list-style: none;

}

.navigation-principale>ul>li>a{
    font-family: "Raleway Thin",sans-serif;
    display: block;
    border-top: white solid 1px;
    padding: 20px 20px;
    text-align: center;
}
.navigation-principale>ul>li>a:hover{
    font-family: "Raleway Light",sans-serif;
}

.navigation-principale a{
    color: white;
    text-decoration: none;
}

.navigation-principale>ul{
    display: none;
}

.navigation-principale:hover>ul{
    display: block;
}

.navigation-principale>a>img{
    display: block;
    width: 180px;
    height: 60px
}

.navigation-principale>ul>li:nth-child(0n+1){
    background-image: url("../../img/accueil.jpg");
    height: 65px;
    width: 375px;
}
.navigation-principale>ul>li:nth-child(0n+2){
    background-image: url("../../img/blackmirror.jpg");
    height: 65px;
    width: 375px;
}
.navigation-principale>ul>li:nth-child(0n+3){
    background-image: url("../../img/stockage.jpg");
    height: 65px;
    width: 375px;
}
.navigation-principale>ul>li:nth-child(0n+4){
    background-image: url("../../img/avenir.jpg");
    height: 65px;
    width: 375px;
}
.navigation-principale>ul>li:nth-child(0n+5){
    background-color: #82A8AD;
}
.navigation-principale>ul>li:nth-child(0n+6){
    background-color: #033054;
}

/* Page d'accueil */
    /* Images accueil */
.titre-accueil{
    height: 246px;
    width: 375px;
    background-color: #06133D;
    border-top: white solid 1px;
}
.titre-accueil>h2{
    margin-top: 70px;
    margin-bottom: 15px;
}

.slogan{
    background-image: url("../../img/accueilgrand.jpg");
}
.art1{
    background-image: url("../../img/blackmirrorgrand.jpg");
}

.art2{
    background-image: url("../../img/stockagegrand.jpg");
}

.art3{
    background-image: url("../../img/avenirgrand.jpg");
}

.art4{
    background-color: #033054;
}

    /* texte présnetation*/
body.accueil>section>article p{
    margin: 20px;
}

body.accueil p>a{
    text-decoration: none;
    font-weight: bold;
    color: #06133D;
}

/* Footer */

footer{
    background-color: #06133D;
    margin-top: 0;
    padding: 10px;
}

.nom-prénom{
    width: 50px;
}

.contact{
    width: 50px;
}


.nom-prénom, .mention-légale, .contact{
    display: table-cell;
}

/*pages*/



