/* Importations polices et logos*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

/*
couleurs :

Bleu nuit : #06133D
Bleu foncé : #033054
Bleu pâle : #82A8AD

*/
/* Menu */

.navigation-principale{
    font-size: 20px;
    color: white;
}


/* images accueil */
.titre-accueil{
    color: white;
    text-align: center;
}

.titre-accueil>h2{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 35px;
}

.titre-accueil>h2>a, .titre-accueil>h2>a:visited{
    text-decoration: none;
    color: white;
}
.titre-accueil>h2>a:hover{
    color: #82A8AD;
}

.titre-accueil>h3{
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

/* texte presentation */
.titre-presentation{
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #06133D;
    text-align: center;
}

body.accueil>section>article p{
    font-family: "Alegreya Sans",sans-serif;
    color: #06133D;
    font-size: 16px;
}
/* Footer */

footer>div>p{
    color: white;
}

.nom-prénom>p{
    font-family: Raleway, sans-serif;
    font-size: 12px;
    width: 50px;
}

.mention-légale>p{
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
}

.contact>a:link, .contact>a:visited{
    color: white;
}
.contact>a:hover{
    color: #82A8AD;
}

.contact>a{
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-size: 12px;
}

/*pages*/
p{
    font-family: "Alegreya Sans", sans-serif;
}

.blanc{
    color: #06133D;
}
.bleu-clair{
    background-color: #82A8AD;
    color: #06133D;
}

.bleu-foncé{
    background-color: #033054;
    color: white;
}

.bleu-nuit{
    background-color: #06133D;
    color: white;
}

.chapeau{
    font-family: "Alegreya Sans Light", sans-serif;
    font-style: italic;
    color: #06133D;
}
article a{
    text-decoration: none;
    font-weight: bold;
}

.bleu-foncé a, .bleu-nuit a{
    color: white;
}

.bleu-foncé a:hover, .bleu-nuit a:hover, .blanc a:hover{
    color: #82A8AD;
}

.bleu-clair a:hover {
    color: white;
}


a{
    color: #06133D;
}

.blackmirror h1,.stockage h1, .avenir h1, .scientifique h1, .projets h1, .page-contact h1{
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 10px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: #06133D;
    font-size: 30px;
    margin-left: 20px;
}

.blackmirror h2,.stockage h2, .avenir h2, .scientifique h2, .projets h2, .page-contact h2{
    color: #06133D;
    font-size: 20px;
    margin-left: 20px;
    font-family: "Raleway", sans-serif;
    margin-top: 10px;
}

.page-contact h1, .page-contact h2, .page-contact h3{
    color: white;
}


.blackmirror h3,.stockage h3, .avenir h3, .scientifique h3, .projets h3, .page-contact h3{
    font-family: "Alegreya sans", sans-serif;
    font-weight: bold;
}

q{
    quotes: none;
    margin-left: 21px;
    text-align: center;
    font-family: "Alegreya Sans", sans-serif;
    font-style: italic;
    width: 250px;
}

.art-suiv{
    font-family: Raleway, sans-serif;
}

a.art-suiv:hover{
    color: #82A8AD;
}

.bleu-clair a.art-suiv:hover{
    color: white;
}

