/* Importations polices et logos*/

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


/*
couleurs :

Bleu nuit : #06133D
Bleu foncé : #033054
Bleu pâle : #82A8AD

*/

.navigation-principale{
    font-family: "Raleway Thin",sans-serif;
    background-color: #06133D;
    font-size: 20px;
    color: white;
}